body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: white;
}

/* NAVBAR */
nav {
    background-color: #000;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav {
    background-color: #000;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.logo {
    color: #e50914;
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: 0 0 10px rgba(229,9,20,0.7);
}
.logo:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

nav button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/* Base button style */
button {
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s ease;
}

/* Navbar buttons */
nav button {
    background: transparent;
    color: white;
    font-weight: bold;
}

nav button:hover {
    color: #e50914;
    transform: scale(1.05);
}

/* Edit button */
.overlay button:first-of-type:hover {
    background-color: #ff1f1f;
    transform: scale(1.05);
}

/* Delete button */
.overlay button:last-of-type:hover {
    background-color: #666;
    transform: scale(1.05);
}

/* Form submit button */
form button {
    background-color: #e50914;
    color: white;
    margin-top: 10px;
}

form button:hover {
    background-color: #ff1f1f;
    transform: scale(1.03);
}

/* GRID */
ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    padding: 20px;
    list-style: none;
}

/* HIDE SECTIONS */
.hidden {
    display: none;
}

/* MOVIE CARD */
.movie-card {
    position: relative;
    cursor: pointer;
}

.movie-card img {
    width: 100%;
    border-radius: 8px;
}

/* OVERLAY */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
    border-radius: 8px;
}

/* SHOW ON HOVER */
.movie-card:hover .overlay {
    opacity: 1;
}

/* BUTTONS */
.overlay button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.overlay button:first-of-type {
    background-color: #e50914;
    color: white;
}

.overlay button:last-of-type {
    background-color: gray;
    color: white;
}

/* FORM */
form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

input {
    margin-bottom: 10px;
    padding: 8px;
}